/* SECTION HOME — Codexium Premium */

section.home {
  width: 100%;
  height: 100vh;
  margin-top: -60px;
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

/* Conteneur principal */
.intro_sec {
  display: flex;
  height: 100vh;
  width: 100%;
}


/* Colonne texte */
.intro_sec .text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* Colonne image */
.intro_sec .h_bg-image {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  filter: saturate(0.5);
}

/* Responsive */
@media (max-width: 991px) {
  .intro_sec {
    flex-direction: column;
    height: auto;
  }

  .intro_sec .text,
  .intro_sec .h_bg-image {
    width: 100%;
  }

  .intro_sec .h_bg-image {
    height: 60vh;
  }
}

/* Cercle animation */
.box {
  position: relative;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
  display: flex;
  justify-content: center;
}

.box:hover {
  transform: scale(1.2);
}

.cercle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  padding-top: 3rem;
  margin-bottom: 4rem;
  animation:
    1s linear infinite alternate boxMagic,
    4s linear infinite spinning;
}

@keyframes boxMagic {
  from {
    box-shadow:
      0 0 0 #EAA438,
      0 0 0 #c779d0,
      0 0 0 #305587,
      0 0 0 #42db75;
  }
  to {
    box-shadow:
      0 -10px 0 #EAA438,
      -10px 0 0 #c779d0,
      0 10px 0 #305587,
      10px 0 0 #42db75;
  }
}

@keyframes spinning {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Typo */
.fluidz-48 {
  font-size: 1.5rem;
}

.description {
  font-style: italic;
}

/* Boutons */
.ac_btn {
  padding: 4px 19px;
  color: #060606; /* texte vert clair */
  position: relative;
  border: 2px solid #305587; /* bordure vert clair */
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  border-radius: 0;
  margin-right: 20px;
  background: transparent; /* bouton transparent comme ton style */
}

/* Hover Codexium */
.ac_btn:hover {
  box-shadow: 8px 8px 0px #EAA438, -8px -8px 0px #ebb057; /* ombre vert foncé */
  color: #ffffff; /* texte blanc au hover */
  background: #305587; /* fond vert clair au hover */
  border-color: #EAA438; /* bordure vert foncé au hover */
}
